<!DOCTYPE html>
<html lang="en">

<head>
    {{> head_meta}}
    <title>Play Page</title>
</head>

<body>
    {{> header}}
    <h1>{{name}}</h1>
    <h2>By {{author}}</h2>
    <p> {{solves}} solves</p>
    <p>{{prompt}}</p>
    <form>
        <label for="promptInput">Enter Prompt:</label>
        <input type="text" id="promptInput" name="promptInput" required>
        <button type="submit">Inject Prompt</button>
    </form>
    <h2>Result:</h2>
    <div id="result"></div>
    <form action="/play/{{id}}" method="POST">
        <label for="flagInput">Password:</label>
        <input type="text" id="password" name="password" required>
        <button type="submit">Submit</button>
    </form>
    <a href="/challs">Back to Challenges</a>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const promptInput = document.querySelector('#promptInput');
        const result = document.querySelector('#result');

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const prompt = promptInput.value;

            fetch('/play/{{id}}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ injection: prompt })
            })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error(`Error: ${response.statusText}`);
                    }
                })
                .then(data => {
                    result.textContent = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>

</html>