<!DOCTYPE html>
<html lang="en">

<head>
    {{> head_meta}}
    <title>Play Page</title>
</head>

<body>
    {{> header}}
    <section>
        {{#if solved}}
            <div class="notification is-success" style="width: 80%">
                <button class="delete" onclick="this.parentElement.style.display='none';"></button>
                <p>Correct Password!</p>
            </div>
        {{/if}}
        {{#if not_solved}}
            <div class="notification is-danger" style="width: 80%">
                <button class="delete" onclick="this.parentElement.style.display='none';"></button>
                <p>Incorrect Password!</p>
            </div>
        {{/if}}
        <div class="content column is-8">
            <h1 class="title is-2">{{name}}</h1>
            <h2 class="subtitle">By {{author}}</h2>
            <strong> {{solves}} solves</strong>
            <p>Initial Prompt:</p>
            <blockquote>{{prompt}}</blockquote>
        </div>
        <form class="column is-10 center">
            <label for="promptInput">Enter Prompt:</label>
            <textarea id="promptInput" name="promptInput" class="textarea is-small-width" required></textarea>
            <br />
            <button type="submit" class="button is-primary" id="submitPrompt">Inject Prompt</button>
        </form>
        <br />
        <div class="content column is-8" id="resultDiv" style="display: none;">
            <p>Result:</p>
            <blockquote id="result"></blockquote>
        </div>
        <form action="/play/{{id}}" method="POST">
            <label for="flagInput">Password:</label>
            <br />
            <input type="text" id="password" name="password" class="input is-rounded is-normal is-small-width" required>
            <button type="submit" class="button is-primary">Submit</button>
        </form>
        <br />
        <a href="/challs" class="link">Back to Challenges</a>
    </section>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const resultDiv = document.getElementById("resultDiv");
        const form = document.querySelector('form');
        const promptInput = document.querySelector('#promptInput');
        const result = document.querySelector('#result');
        const promptBtn = document.getElementById("submitPrompt");
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            let prompt = promptInput.value;
            resultDiv.style.display = "block";
            promptBtn.className = "button is-primary is-loading";
            fetch('/play/{{id}}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ injection: prompt })
            })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        alert(`Error: ${response.statusText}`);
                    }
                })
                .then(data => {
                    result.textContent = data;
                })
                .catch(error => {
                    alert('Error:', error);
                })
                .finally(() => {
                    promptBtn.className = "button is-primary";
                });
        });
    });
</script>

</html>